<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head"); -%>
    
</head>
<body>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            <%= questionArray[0] %> 
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            <%= questionArray[1] %>
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            <%= questionArray[2] %>
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            <%= questionArray[3] %>
        </label>
    </div>

</body>
</html>